.ServiceDepartureTable {
  height: 100%;
  background-color: rgb(229,234,235);
}

.ServiceDepartureTable-header {
  background-color: rgb(41, 58, 76);
  color: white;
}

.ServiceDepartureTable-timePicker {
  background: none;
  border: none;
  color: #1cca6a;
  margin: 0 0 5px 15px;
}

.ServiceDepartureTable-timePicker input {
  color: #1cca6a;
}


.ServiceDepartureTable-title {
  padding: 15px;
}

.ServiceDepartureTable-btnClear {
  margin: 0 10px;
  padding: 0;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.ServiceDepartureTable-iconClear {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
}

.ServiceDepartureTable-relative {
  position: relative;
}

.ServiceDepartureTable-container {
  overflow-y: auto;
}

.ServiceDepartureTable-container > * {
  flex-shrink: 0;
}

.ServiceDepartureTable-filterWrapper {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
  margin: 10px;
}

.ServiceDepartureTable-glassIcon {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  color: #B3ADAD;
}

.ServiceDepartureTable-filterInput {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  line-height: 26px;
  font-size: 13px;
  color: #555555;
}

.device-phone .ServiceDepartureTable-filterInput {
  font-size: 16px;
}