/*.ServiceDepartureRow-outerPanel {*/
  /*border-bottom: 1px solid lightgray;*/
/*}*/

/*.ServiceDepartureRow { */
  /*background-color: white;*/
  /*margin: 10px;*/
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  /*border-radius: 4px;*/
/*}*/

/*.ServiceDepartureRow-clickable {*/
  /*cursor: pointer;*/
/*}*/

.ServiceDepartureRow-transIconPanel {
  width: 50px;
}

.ServiceDepartureRow-transIcon {
  border-bottom: 2px solid white;
  padding: 3px 5px;
}

.ServiceDepartureRow-middlePanel {
  /* Needed for gl-overflow-ellipsis to work for serviceDescription: 50px of transIconPanel + 60px of timeToDepart */
  /*max-width: calc(100% - 70px);*/
}

.ServiceDepartureRow-timeToDepart {
  /*background-color: #1cca6a;*/
  /*color: white;*/
  width: 70px;
  height: 35px;
  /*-webkit-border-radius: 2px;*/
  /*-moz-border-radius: 2px;*/
  /*border-radius: 2px;*/
  /*margin: 10px;*/
  /*font-size: 14px;*/
}

.ServiceDepartureRow-timeToDepartCancelled {
  background-color: #E35017;
}

.ServiceDepartureRow-timeToDepartPast {
  opacity: .5;
}

.ServiceDepartureRow-serviceAndTime {
  font-size: 15px;
}

/*.ServiceDepartureRow-serviceDescription {*/
  /*color: grey;*/
/*}*/

.ServiceDepartureRow-realtimeInfo {
  font-size: 12px;
  color: #a3a3a3;
}

.ServiceDepartureRow-wCInfoPanel {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;
  margin: 0 8px;
}

.ServiceDepartureRow-wCFrame {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  margin: 0 18px 0 8px;
}

.ServiceDepartureRow-wCAccessible {
  background-color: #3793f3;
}

.ServiceDepartureRow-wCInaccessible {
  background-color: grey;
}

.ServiceDepartureRow-wCIcon {
  color: white;
}

.ServiceDepartureRow-wCText {
  font-size: 13px;
  color: #a3a3a3;
}