/.vscode
/build
/config-overrides
/docs
/node_modules
/public
/scripts
/src
/.babelrc
/.env
/.gitignore
/.gitlab-ci.yml
/.svgorc
/package-lock.json
/README_DEV.md
/styleguide.config.js
/tsconfig-babel.json
/tsconfig.json
/tslint.json