.ACTTrackTransport-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.ACTTrackTransport-onDark {
  padding: 3px;
}

.ACTTrackTransport-angleRight {
  width: 10px;
  height: 10px;
}

.ACTTrackTransport-info {
  border: 1px solid #ECEBEB;
  font-size: 13px;
}

.ACTTrackTransport-info-space {
  padding: 0 5px;
}