.TripSegmentDetail {
  padding: 0 10px;
  cursor: initial;
}

.TripSegmentDetail-iconPanel {
  width: 70px;
  margin: 10px 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.TripSegmentDetail-timePanel {
  width: 55px;
  font-size: 14px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
  margin: 10px 15px 10px 0;
}

.TripSegmentDetail-circlePanel {
  width: 15px;
}

.TripSegmentDetail-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border-width: 2px;
  border-style: solid;
}

.TripSegmentDetail-linePanel {
  width: 15px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.TripSegmentDetail:first-child .TripSegmentDetail-preStopLine {
  visibility: hidden;
}

.TripSegmentDetail:last-child .TripSegmentDetail-postStopLine {
  visibility: hidden;
}

.TripSegmentDetail-line {
  border-left-width: 3px;
  border-left-style: solid;
}

.TripSegmentDetail-title {
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
}

.TripSegmentDetail-descrPanel {
  margin: 10px 0 10px 15px;
}

.TripSegmentDetail-subTitle {
  font-size: 13px;
  font-weight: 600;
}

.TripSegmentDetail-stopMapLink {
  display: block;
  font-size: 13px;
  margin-bottom: 10px!important;
}

.TripSegmentDetail-smallCircle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border-width: 2px;
  border-style: solid;
}

.TripSegmentDetail-stopTitle {
  font-size: 13px;
  margin: 10px 0 10px 15px;
  color: #4e4e4e;
}

.TripSegmentDetail-iconAngleDown {
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.TripSegmentDetail-icon {
  width: 25px;
  height: 25px;
}

.TripSegmentDetail-banner {
  background-color: #f4f7fe;
  padding: 5px 20px;
  margin-top: 10px;
}

.TripSegmentDetail-myWayIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.TripSegmentDetail-notes {

}

.TripSegmentDetail-notes > * {
  margin-top: 10px;
}

.TripSegmentDetail-stopId {
  font-size: 13px;
  color: #6c6d6f;
  margin-bottom: 10px;
  margin-top: -10px;
}