.MapLocationPopup {
    padding: 5px 10px;
}

.MapLocationPopup svg path {
    fill: #23b15e;
}

.MapLocationPopup a {
    color: unset !important;
    font-weight: unset !important;
    text-decoration: underline !important;
}