/* To avoid zoom in on focus on Safari for iOS */
.device-phone .DateTimePickerFace-label,
.device-phone .DateTimePickerFace input {
  font-size: 16px!important;
}

.DateTimePickerFace-label {
  cursor: pointer;
  padding: 0;
}

.DateTimePickerFace-face .DateTimePickerFace-hidden {
  height: 0;
}

.DateTimePickerFace-face .DateTimePickerFace-hidden input {
  position: absolute;
  z-index: -1;
  height: 0;
  width: 0;
}


.DateTimePickerFace-hidden .react-datepicker-popper {
  z-index: 10;
}

.DateTimePickerFace-face .DateTimePickerFace-hidden .react-datepicker-popper {
  top: -20px!important;
}

.DateTimePickerFace-textInput button {
  display: none;
}

.DateTimePickerFace input {
  background: none;
  border: none;
}