html {
  height: 100%;
}

#trip-planner-root {
  overflow-x: hidden;
}

#trip-planner-root {
  height: 100%;
  display: -webkit-flex;
  display: flex;
}

.app-style, .app-style * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-style {
  line-height: normal;
}

.app-style input[type=text],
.app-style textarea,
.app-style select {
  font-size: 13px;
}

.app-style input::-ms-clear {
  display: none;
}

.app-style input[type=text] {
  padding: 1px;
}

body.user-is-tabbing .app-style input[type=text]:focus,
body.user-is-tabbing .app-style textarea:focus,
body.user-is-tabbing .app-style select:focus,
body.user-is-tabbing .app-style button:focus,
body.user-is-tabbing .app-style a:focus,
body.user-is-tabbing .app-style svg:focus,
body.user-is-tabbing .app-style div:focus,
body.user-is-tabbing .app-style .TripRow:focus,
body.user-is-tabbing .app-style .App-tabBtn:focus {
  outline: 2px solid #024dff;
  -webkit-box-shadow: 0 0 14px #024dff;
  -moz-box-shadow: 0 0 14px #024dff;
  box-shadow: 0 0 14px #024dff;
}

body:not(.user-is-tabbing) .app-style * {
  box-shadow: none;     /* To avoid glow effet on focus */
  outline: none!important;  /* To avoid glow effet on focus */
}

body.user-is-tabbing .app-style .TripPlanner-queryInput input[type=text]:focus,
body.user-is-tabbing .app-style .TripPlanner-queryInput textarea:focus,
body.user-is-tabbing .app-style .TripPlanner-queryInput select:focus,
body.user-is-tabbing .app-style .TripPlanner-queryInput button:focus,
body.user-is-tabbing .app-style .TripPlanner-queryInput a:focus,
body.user-is-tabbing .app-style .TripPlanner-queryInput svg:focus,
body.user-is-tabbing .app-style .TripPlanner-queryInput div:focus {
  outline-color: white; /* White glow on dark background */
  -webkit-box-shadow: 0 0 14px white; /* White glow on dark background */
  -moz-box-shadow: 0 0 14px white;
  box-shadow: 0 0 14px white;
}

.app-style .App button.QueryInput-continueBtn:focus {
  outline-color: #d693ff; /* White glow on dark background */
  -webkit-box-shadow: 0 0 20px #d693ff; /* White glow on dark background */
-moz-box-shadow: 0 0 20px #d693ff;
  box-shadow: 0 0 20px #d693ff;
}

.app-style .TripPlanner-queryInput .QueryInput-timePanel input[type=text]:focus,
.app-style .TripPlanner-queryInput .QueryInput-timePanel textarea:focus,
.app-style .TripPlanner-queryInput .QueryInput-timePanel select:focus,
.app-style .TripPlanner-queryInput .QueryInput-timePanel button:focus,
.app-style .TripPlanner-queryInput .QueryInput-timePanel a:focus,
.app-style .TripPlanner-queryInput .QueryInput-timePanel svg:focus,
.app-style .TripPlanner-queryInput .QueryInput-timePanel div:focus {
  outline-color: #024dff;
  -webkit-box-shadow: 0 0 14px #024dff; /* Restore blue glow on light background */
  -moz-box-shadow: 0 0 14px #024dff;
  box-shadow: 0 0 14px #024dff;
}

.app-style button.QueryInput-timePrefBtn:focus {
  z-index: 1;
}

.app-style a {
  color: inherit;
}

.app-style a[href*="//"] {
  background: none;
  padding: unset;
  margin: unset;
  z-index: unset;
  overflow: unset;
}

.app-style .gl-link {
  text-decoration: underline;
  cursor: pointer;
  opacity: .8;
}

.app-style .gl-link:hover {
  opacity: 1;
}

.app-style button.TripPlanner-optionsBtn {
  font-size: 13px;
  padding: 10px;
  border: 1px solid white;
}

.app-style ul {
  padding: initial;
  margin: initial;
}

.app-style ul li,
.app-style ol li {
  margin-left: inherit;
  margin-top: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */

  .app-style button {
    background: none;
    font-family: inherit;
    color: inherit;
  }

  .app-style ul {
    padding: inherit;
    margin: inherit;
  }

  .app-style .LocationBox input {
    line-height: normal;
  }

  .app-style .SchoolPicker-inputWrapper input {
    height: 32px;
  }
}

.app-style .text-big {
  font-size: 16px;
  color: #000000;
}

.app-style .text {
  font-size: 14px;
  color: #4e4e4e;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/269860_3_0.eot');
  src: url('/fonts/269860_3_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/269860_3_0.woff') format('woff'),
  url('/fonts/269860_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/269860_2_0.eot');
  src: url('/fonts/269860_2_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/269860_2_0.woff') format('woff'),
  url('/fonts/269860_2_0.ttf') format('truetype');
  font-weight: bold;
}

.app-style {
  font-family: ProximaNova, sans-serif;
}

.app-style h3,
.app-style .h3-text {
  font-weight: bold;
  font-size: 16px;
}

.app-style h4,
.app-style .h4-text {
  /*font-weight: bold;*/
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

.app-style h5,
.app-style .h5-text {
  font-weight: 600;
  font-size: 16px;
}

.app-style .sg-checkbox-frame.checked label > span {
  border-color: #0242ac!important;
}

.app-style .sg-checkbox-frame label > span {
  border-color: transparent!important;
}

.app-style .sg-radio input[type='radio']:checked + label > span {
  border-color: #0242ac!important;
}

.app-style .sg-radio input[type='radio'] + label > span {
  border-color: white!important;
}

.app-style button.gl-button {
  background-color: #0242ac;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.app-style .gl-button.ok {
  background-color: #0caa4b;
  color: white;
  border: 1px solid #0caa4b;
}

.app-style .gl-button.cancel {
  background-color: white;
  border: 1px solid lightgray;
}

.app-style .gl-code {
  font-family: "Courier New", Courier, monospace;
}

.app-style .rc-tooltip-inner {
  color: #e1e1e1;
  background-color: black;
  border: none;
  font-size: 13px;
}

.app-style.errorTooltip .rc-tooltip-inner {
  background-color: white;
  color: red;
}

.app-style.rc-tooltip-placement-right .rc-tooltip-arrow {
  border-right-color: black;
  left: -7px;
  margin-top: -8px;
  border-width: 8px 8px 8px 0;
}

.app-style.rc-tooltip-placement-right.errorTooltip .rc-tooltip-arrow {
  border-right-color: red;
}

.app-style.rc-tooltip-placement-left .rc-tooltip-arrow {
  border-left-color: black;
  right: -8px;
  margin-bottom: -8px;
  border-width: 8px 0 8px 8px;
}

.app-style.rc-tooltip-placement-left.errorTooltip .rc-tooltip-arrow {
  border-left-color: red;
}

.app-style.rc-tooltip-placement-top .rc-tooltip-arrow {
  border-top-color: black;
  bottom: -8px;
  margin-left: -8px;
  border-width: 8px 8px 0;
}

.app-style.rc-tooltip-placement-top.errorTooltip .rc-tooltip-arrow {
  border-top-color: red;
}

.app-style.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  border-bottom-color: black;
  top: -8px;
  margin-right: -8px;
  border-width: 0 8px 8px;
}

.app-style.rc-tooltip-placement-bottom.errorTooltip .rc-tooltip-arrow {
  border-bottom-color: red;
}

.app-style button.QueryWidget-optionsBtn {
  font-size: 13px;
  padding: 10px 30px;
  border: 1px solid #0242ac;
  color: #0242ac;
  text-decoration: underline;
}

.app-style .QueryInput-timeCalPanel input {
  border: none;
  padding: 10px;
  /* Safari - iOS */
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
  margin: unset;
  height: unset;
  line-height: normal;
}

.app-style .TripPlanner-queryInput .QueryInput-timePanel,
.app-style .TripPlanner-queryInput .QueryInput-timePrefPanel button {
  background-color: white;
  color: black;
}

.app-style button.QueryInput-iconCalPanel {
  background-color: #0242ac;
  width: 50px;
  cursor: pointer;
}

.app-style button.QueryInput-timePrefBtn {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #b6b8d1;
  cursor: pointer;
}

.app-style button.QueryInput-timePrefBtn.selected {
  font-weight: bold;
  border-bottom: 3px solid #273038;
}

.app-style .QueryInput-timeCalPanel.disabled input {
  background-color: #eae8e8;
}

.app-style button.App-favMoreBtn {
  background: none;
  border: none;
  color: black;
  padding: 0;
  font-size: 14px;
  margin-top: -10px;
  text-decoration: underline;
}

.app-style .TripPlanner-favsBtnPanel a {
  font-size: 13px;
  color: #414141;
  margin-left: 15px;
}

.app-style button.FavouriteBtn-main {
  padding: 0;
  border: none;
  cursor: pointer;
  color: #414141;
  font-size: 13px;
}

.app-style .QueryInput-calendar button.react-datepicker__navigation {
  top: 14px;
  border: .40rem solid transparent;
}

.app-style .QueryInput-calendar button.react-datepicker__navigation--next {
  border-left-color: #0242ac;
}

.app-style .QueryInput-calendar button.react-datepicker__navigation--previous {
  border-right-color: #0242ac;
}

.app-style .react-datepicker__time-container {
  width: 80px;
}

.app-style .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 80px;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 90px;
}

.app-style .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-right: 0;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: overlay;
}

.app-style .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list::-webkit-scrollbar {
  width: 0;
}

.app-style .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list:hover::-webkit-scrollbar {
  width: 12px;
}

.app-style .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list::-webkit-scrollbar-thumb {
  visibility: visible;
  background: #cbcbcb;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

/*.app-style .leaflet-popup .leaflet-popup-content-wrapper,*/
/*.app-style .leaflet-popup .leaflet-popup-content {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*.app-style .leaflet-popup .leaflet-popup-content-wrapper {*/
  /*-webkit-border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*border-radius: 10px;*/
/*}*/

/* max-height: 100% does not work on IE, so causes issues with scroll */
@media all and (max-height: 800px) and (-ms-high-contrast: none),
(max-height: 800px) and (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .ReactModal__Content {
    height: 100%;
  }
}

/*
* Checkbox
*/

.app-style button.sg-checkbox-frame {
  border: 2px solid #9E9E9E;
  background-color: white;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.app-style button.sg-checkbox-frame.checked {
  border-color: #0242ac;
}

/*
* Radio btn
*/

.app-style button.sg-radio-frame {
  border: 2px solid #9E9E9E;
  background-color: white;
}

.app-style button.sg-radio-frame.checked {
  border-color: #0242ac;
}

/*@media (max-width: 800px) {*/

  /*.ReactModal__Content {*/
    /*max-width: 100% !important;*/
    /*width: 100% !important;*/
    /*max-height: 100% !important;*/
    /*height: 100% !important;*/
  /*}*/

/*}*/