.FavouriteRow {
  padding: 0 20px;
  border: 1px solid #ecebeb;
  background-color: white;
}

.FavouriteRow-summaryPanel {
  padding: 15px 0;
  cursor: pointer;
}

.FavouriteRow-fromToPanel {
  width: 43%;
}

.FavouriteRow-iconAngle {
  height: 16px;
  width: 16px;
}

.FavouriteRow-actionPanel {
  padding: 10px 0;
  border-top: 1px solid #ecebeb;
}

.FavouriteRow-btn {
  padding: 0;
  border: none;
  cursor: pointer;
}

.FavouriteRow-addFirst {
  font-size: 15px;
  text-align: left;
}

.FavouriteRow-addSecond {
  color: #808080;
  font-size: 13px;
  margin-top: 5px;
  text-align: left;
}