.LocationBox-wrap {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}

.LocationBox-wrap > div {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  position: relative;
}

.LocationBox {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.LocationBox-menu {
  border: 1px solid #cbcbcb;
  background-color: white;
  padding: 5px 0;
  z-index: 10;
}

.LocationBox-iconPin {
  margin: 0 5px;
  width: 17px;
  height: 17px;
}

.LocationBox-btnClear {
  margin: 0;
  padding: 0;
  height: 17px;
  cursor: pointer;
}

.LocationBox-iconClear {
  margin: 0 5px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.LocationBox-iconLoading {
  margin: 0 5px;
  width: 16px;
  height: 16px;
}

.LocationBox-iconLoading path {
  fill: #6d6d6d;
}

.LocationBox input {
  border: none;
  outline: 0;
  line-height: 30px;
  background: none;
  font-size: 13px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

/* To avoid zoom in on focus on Safari for iOS */
.device-phone .LocationBox input {
  font-size: 16px!important;
}

.LocationBox-sideMenu.rc-tooltip {
  opacity: 1;
}

.LocationBox-sideMenu.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 10px;
}
