.sg-radio {
  font-size: 24px;
}

.sg-radio-frame {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2px;
  margin: 0 5px;
}

.sg-radio input[type='radio'] {
  height: 0;
  width: 0;
}

.sg-radio input[type='radio'] + label {
  position: relative;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  transition: color 250ms cubic-bezier(.4, .0, .23, 1);
}

.sg-radio input[type='radio'] + label > ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4, .0, .23, 1);
}

.sg-radio input[type='radio'] + label > ins > i {
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: #4FC3F7;
}

.sg-radio input[type='radio'] + label > span {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-right: 1em;*/
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4, .0, .23, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sg-radio input[type='radio'] + label:hover, input[type='radio']:focus + label {
  color: #fff;
}

.sg-radio input[type='radio'] + label:hover > span, input[type='radio']:focus + label > span {
  background: rgba(255, 255, 255, .1);
}

.sg-radio input[type='radio']:checked + label > ins {
  height: 100%;
}

.sg-radio input[type='radio']:checked + label > span {
  border: .5em solid #79c85b;
  animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
}

.sg-radio input[type='radio']:checked + label > span:before {
  content: "";
  position: absolute;
  animation: radio-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
  width: .4em;
  height: .4em;
  border-radius: 50%;
  background: transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .sg-radio input[type='radio']:checked + label > span {
    border-width: .3em;
  }
  .sg-radio input[type='radio']:checked + label > span:before {
    content: none;
  }
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes radio-check {
  0% {
    width: 0;
    height: 0;
    background: white;
  }
  33% {
    width: .2em;
    height: .2em;
  }
  100% {
    width: .4em;
    height: .4em;
    background: white;
  }
}